
<!-- Footer START -->
<footer class="footer">

	<div class="footer-style-1-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-12">
					<h5>Green Steam Brokers © 2020. All Rights Reserved.</h5>
				</div>

				<div class="col-md-6 col-sm-6 col-12">
					<ul class="footer-style-1-bar-links">
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer END -->




<!-- Scroll to top button Start -->
<a href="#" class="scroll-to-top"><i class="fas fa-chevron-up"></i></a>	
<!-- Scroll to top button End -->



<!-- Jquery -->
<script src="../js/jquery.min.js"></script>

<!-- Plugins JS-->
<script src="../js/plugins.js"></script>	

<!-- Navbar JS -->
<script src="../js/navigation.js"></script>
<script src="../js/navigation.fixed.js"></script>

<!-- Google Map -->
<script src="../js/map.js"></script>

<!-- Main JS -->
<script src="../js/main.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/app.js"></script>
<script src="../js/lightslider.js"></script>



</body>
</html>