	<title>Green Stream Brokers</title>
	<meta charset="UTF-8">
	{{!-- <link rel="shortcut icon" href="img/logos/logo-shortcut.png" />	 --}}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<!-- Bootstrap CSS-->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">

	<!-- Themify icons -->
	<link rel="stylesheet" type="text/css" href="../css/themify-icons.css">
	
	<!-- Font-Awesome -->
	<link rel="stylesheet" type="text/css" href="../css/fontawesome-all.css">  

	<!-- Icomoon -->
	<link rel="stylesheet" type="text/css" href="../css/icomoon.css"> 	

	<!-- Plugins -->
	<link rel="stylesheet" type="text/css" href="../css/plugins.css">

	<!-- Animate.css -->
	<link rel="stylesheet" href="../css/animate.css">	

	<!-- Owl Carousel  -->
    <link rel="stylesheet" href="../css/owl.carousel.css">     

	<!-- Swiper Slider Styles -->
    <link rel="stylesheet" href="../css/slider.css">        

    <!-- Navbar Styles -->
    <link rel="stylesheet" type="text/css" href="../css/navigation.css" id="navigation_menu">
	
	<!-- Main Styles -->
	<link rel="stylesheet" type="text/css" href="../css/default.css">
	<link rel="stylesheet" type="text/css" href="../css/styles.css" id="main_styles">



	 

	<!-- Fonts Google -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">