<!-- Main Image Section START -->
<div class="main-image-section black-overlay-10" style="background-image:url(../img/homebanner.png);">
	<div class="main-image-content">
		<div class="container">
			{{!-- <h2 class="white-color bold uppercase">Making dreams come to life</h2>
			<h6 class="white-color light">Help your business grow. Rapid results. Lasting value. The consulting  <br>company for the rational manager.</h6>
			<div class="mt-25">
				<a href="#" class="primary-button button-lg semi-rounded">Learn More</a>
			</div> --}}
		</div>		
	</div>
</div>
<!-- Main Image Section END -->