<!-- White Form Section START -->
<div class="section-block-grey">
	<div class="container">
		<div class="large-heading center-holder mb-40">
			<h4 class="medium">Login</h4>
		</div>			
		<!-- Form Start -->
		<form class="white-form mt-60" method="post" action="/login">
			<div class="row">
                <div class="col-md-6 offset-3">
				<div class="col-md-12 col-sm-12 col-12">
					<input type="email" name="email" placeholder="Email">
				</div>
                <div class="col-md-12 col-sm-12 col-12">
					<input type="password" name="password" placeholder="Password">
				</div>
				
				<div class="col-md-12">
					<button type="submit" class="button-sm primary-button semi-rounded full-width">Login</button>	
				</div>
                <div class="d-flex justify-content-between pl-3 pr-3">
                   <small> <a href="#">Forgot Password</a></small>
                    <small> <a href="#">Don't have an account yet</a></small>
                </div>		
			</div>
            </div>
		</form>
		<!-- Form End -->				
	</div>
</div>
<!-- White Form Section END -->
