	<div class="nav-menus-wrapper">
			<ul class="nav-menu align-to-right">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About Us</a></li>
				<li><a href="/property">Properties</a></li>											
				<li><a href="/services">Services</a></li>				
				<li><a href="/lenders">Bank/Lenders</a></li>
				<li><a href="/calculator">Calculator</a></li>
					
			</ul>
		</div>	