<!-- White Form Section START -->
<div class="section-block-grey">
	<div class="container">
		<div class="large-heading center-holder mb-40">
			<h4 class="medium">Register</h4>
		</div>			
		<!-- Form Start -->
		<form class="white-form mt-60" action="/signup" method="post">
            <div class="row">
            <div class="col-md-8 offset-2">
			<div class="row">
               	<div class="col-md-6 col-sm-6 col-12">
					<input type="text" name="firstname" placeholder="First Name *">
				</div>
				<div class="col-md-6 col-sm-6 col-12">
					<input type="text" name="lastname" placeholder="Last Name *">
				</div>
                <div class="col-md-6 col-sm-6 col-12">
					<input type="password" name="password" placeholder="Password *">
				</div>
				<div class="col-md-6 col-sm-6 col-12">
					<input type="password" name="password2" placeholder="Re-type Password *">
				</div>
                <div class="col-md-6 col-sm-6 col-12">
					<input type="email" name="email" placeholder="E-mail *">
				</div>
				<div class="col-md-6 col-sm-6 col-12">
					<input type="text" name="phone" placeholder="Mobile Number *">
				</div>
				<div class="col-md-12">
					<button type="submit" class="button-sm primary-button semi-rounded full-width">Register</button>	
				</div>
                </div>
            </div>		
			</div>
        </form>
				
	</div>
</div>
<!-- White Form Section END -->
