<div id="top-bar" class="hidden-md-down">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-12">
				{{!-- <ul class="top-bar-info">				 
					<li><i class="fas fa-map-marker-alt"></i>New York, NY Sheram 113</li>
					<li><i class="fas fa-phone-square"></i> Phone:  +1-23-456789</li>
					<li><i class="fa fa-envelope"></i>Email:  example@email.com</li>
				</ul>					 --}}
			</div>
			<div class="col-md-3 col-12">
				<a href="/login" class="btn btn-light">Login</a>	
				<a href="/signup" class="btn btn btn-light">Signup</a>					
			</div>		
		</div>
	</div>
</div>	