<div class="section-block">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-12">
				 <div class="section-heading center-holder wow fadeIn animated" data-wow-delay=".1s">
			<h3 class="bold">Why People Choose Us</h3>
			<div class="section-heading-line"></div>
			<p>We will match you with a loan program that meets your financial needs <br>In short term liquidity by striving to make funds available to them 24 hours of application.</p>
		</div>
				<div class="row mt-40">
					<div class="col-md-4 col-sm-4 col-12">
						<div class="feature-block-2 feature-bordered feature-shadow feature-bg inner-40 center-holder">
							<i class="icon-user-4"></i>
							<h4>Dedicated Specialist</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore .</p>
							<a href="#">Read More <i class="fas fa-chevron-right"></i></a>
						</div>					
					</div>	

					<div class="col-md-4 col-sm-4 col-12">
						<div class="feature-block-2 feature-bordered feature-shadow feature-bg inner-40 center-holder">
							<i class="icon-rating"></i>
							<h4>Success Stories Rating</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore .</p>
							<a href="#">Learn More <i class="fas fa-chevron-right"></i></a>
						</div>					
					</div>

					<div class="col-md-4 col-sm-4 col-12">
						<div class="feature-block-2 feature-bordered feature-shadow feature-bg inner-40 center-holder">
							<i class="icon-money"></i>
							<h4>No Front Appraisal Fees</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore .</p>
							<a href="#">Learn More <i class="fas fa-chevron-right"></i></a>
						</div>					
					</div>								
				</div>					
			</div>
		</div>		
	</div>
</div>